*{
    color: rgb(36, 36, 35);
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a {
    background-color: rgb(207, 219, 213);
    border: solid rgb(36, 36, 35) 5px;
}
table {
    background-color: rgb(232, 237, 223);
    border: solid rgb(36, 36, 35) 5px;
    padding: 5em;
}
.options {
    display: flex;
    justify-content: space-around;

}
.modify{
    border: solid rgb(89, 252, 255) 5px;
}
.delete{
    border: solid rgb(245, 203, 92) 5px;
}
