<div id="contenedor" class="container-fluid">
<form class="form mt-5" (submit)="save()">
    <input class="form-control" type="text" name="username" placeholder="User" [(ngModel)]="username" /> <br>
    <input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]="email" /> <br>
    <input class="form-control" type="password" name="password" placeholder="password" [(ngModel)]="password" /> <br>
    <button type="submit" class="btn btn-primary form-control mb-2">Register</button>
    <button class="btn btn-warning form-control m-auto" [routerLink]="['/login']">Go back</button>
</form>
</div>