<div id="contenedorSupremo">

  <!-- FILTER -->
  <button id="filter"><i class="fa-solid fa-filter fa-xl"></i></button>
  <!----------------------->


  <div id="searchAndShow">

    <!-- SEARCH -->
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <button id="searchButton" class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </button>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!----------------------->




    <!-- BOOKSHELF -->

    <div id="shelfDisplay">
      <div id="bookshelf" class="bookshelf">

        <div class="book" *ngFor="let article of articles" [routerLink]="['/modify/article/', article.id]">
          <div class="side spine">
            <p class="spine-title">{{ article.title }}</p>
            <p class="spine-author"> {{ article.authors }}</p> <!--Solo siglas de nombre y primer apellido -->
          </div>
          <div class="side top"></div>
          <div class="side cover">
            <p class="cover-title">{{ article.title }}</p>
            <p class="cover-author">{{ article.authors }}</p>
            <p class="cover-year">{{ article.year }}</p>
            <p class="cover-editorial">{{ article.journal }}</p>
          </div>

        </div>

      </div>
    </div>
    <!----------------------->



  </div>
</div>







  <script>
    let bookshelf = document.getElementById("bookshelf");
    let body = document.getElementById("body");
    let currentWidthShelf = bookshelf.offsetWidth;
    let currentWidthBody = body.offsetWidth;
    console.log(currentWidthShelf)
    console.log(currentWidthBody)
//    if (currentWidth < currentWidthBody) {
//    bookshelf.style.backgroundColor = "red";
//    console.log(body.offsetWidth)
//}

  </script>