<app-nav-bar></app-nav-bar>
<div>
    <h2>THANK YOU FOR VISITING US!</h2>
    <section>
    <img cImg fluid src="assets/img/hello.png"/>
    <article>
        <p>Welcome to our platform, a place where you can store and access your academic articles like never before. Imagine having all of your articles organized like books on a bookshelf, with easy access and the ability to read them at any time.</p>
        <p>Our platform was created by César Guerra and Zoilo Betancourt, two innovative thinkers who wanted to make the process of accessing and storing academic articles simpler and more user-friendly. With our platform, you can upload your articles and categorize them by subject matter or publication date, making it easier to find exactly what you need when you need it.</p>
        <p>Not only can you access your articles at any time, but you can also customize your reading experience by adjusting the font size, background color, and more. Plus, you can easily share your articles with colleagues or professors with just a few clicks.</p>
        <p>We believe that academic research should be accessible and organized, and that's why we created this platform. So why not join us today and experience the convenience of having all of your academic articles in one place?</p>
    </article>
    </section>
</div>
