<app-nav-bar></app-nav-bar>
<div class="container mt-5">
    <div class="card ms-auto me-auto w-50">
        <div class="card-body">
            <form (submit)="save()">
                <input type="text" name="authors" placeholder="Authors (separated by <<,>>)" class="form-control my2" 
                 [(ngModel)] = "authors" autocomplete="off"
                />
                <input type="number" name="year" placeholder="Year" class="form-control my2" 
                [(ngModel)] = "year" autocomplete="off"
                />
                <input type="text" name="title" placeholder="Title" class="form-control my2" 
                [(ngModel)] = "title" autocomplete="off"
                />
                <input type="text" name="journal" placeholder="Journal" class="form-control my2" 
                [(ngModel)] = "journal" autocomplete="off"
                />
                <input type="number" name="issue" placeholder="Issue" class="form-control my2" 
                [(ngModel)] = "issue" autocomplete="off"
                />
                <input type="text" name="place" placeholder="Place" class="form-control my2" 
                [(ngModel)] = "place" autocomplete="off"
                />
                <input type="text" name="doi" placeholder="DOI" class="form-control my2" 
                [(ngModel)] = "doi" autocomplete="off"
                />
                <select name="form-select form-select-sm" name="genreId"  [(ngModel)] = "genreId">
                    <option *ngFor="let genre of genres" [value]="genre.id">
                        {{ genre.genre }}
                    </option>
                </select>
                <input type="file" (change)="onFileSelected($event)">        

                <button type="submit" class="btn btn-primary form-control">SAVE</button>
            </form>

            
        </div>
    </div>
</div>